body {
    padding: 20px;
    background: #f5f5f5;
}

div#main-container {
    margin:auto;
    max-width: 1000px;
    background: white;
    padding: 10px;
}

input[type=text] {
    border: 1px solid grey;
}

input.invalid {
    border: 1px solid red;
}

div.pane {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 5px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -1px;
}

div.pane:nth-of-type(1) {
    border-left: none;
}

div.clearfix {
    clear: both;
    height: 1px;
    display: block;
}

/* content pane to the right */

div#content {
    width: 716px;
    border-right: none;
}

/* auction view */

div#auction {
    padding: 5px;
    display: block;
    min-height: 80px;
    border: 1px solid orange;
    width: 200px;
}

div.auction {
    width: 210px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    margin-right: 5px;
    float: left;
}

table.auction {
    width: 200px;
}

div.auction input[type=text] {
    width: 100%;
}

table.auction td, table.auction th {
    width: 50px;
    text-align: center;
    border: 1px solid grey;
}


/* browsing the stored biddings in main page */

#browser {
    display: block;
    width: 250px;
}

#browser input[type=text],
#browser select {
    width: 100%;
}

#browser select {
    height: 200px;
}

/* comments pane */

div.comments-pane,
div.comments-pane * {
    -moz-box-sizing: border-box;
}

div.comments-pane {
    float: left;
    min-width: 501px;
    display: block;
}

div.comment {
    border: 1px solid;
    padding: 2px;
    margin-bottom: 2px;
}

div.comment div.header{
    font-size: 11px;
    margin: 0px 2px;
    padding: 1px;
    border-bottom: 1px solid grey;
}

div.comment pre {
    padding: 5px 2px;

}


/* add comment widget */

div.add-comment {
    border: 1px solid;
    border-top: 2px solid;
    margin-top: 3px;
}

div.add-comment textarea {
    width: 100%;
    display: block;
}