body {
    padding: 20px;
    background: #f5f5f5;
}

div#main-container {
    margin:auto;
    max-width: 1000px;
    background: white;
    padding: 10px;
}

input[type=text] {
    border: 1px solid grey;
}

input.invalid {
    border: 1px solid red;
}

div.pane {
    border: 1px solid grey;
    padding: 5px;
    float: left;
    margin-right: 5px;
    min-height: 135px;
}

div.clearfix {
    clear: both;
    height: 1px;
    display: block;
}

/* content pane to the right */

div#content {
    width: 716px;
}

/* auction view */

div#auction {
    padding: 5px;
    display: block;
    min-height: 80px;
    border: 1px solid orange;
    width: 200px;
}

div.auction {
    width: 210px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    margin-right: 5px;
    float: left;
}

table.auction {
    width: 200px;
}

div.auction input[type=text] {
    width: 100%;
}

table.auction td, table.auction th {
    width: 50px;
    text-align: center;
    border: 1px solid grey;
}


/* browsing the stored biddings in main page */

#browser {
    display: block;
    width: 250px;
}

#browser input[type=text],
#browser select {
    width: 100%;
}