body {
    padding: 20px;
    background: #f5f5f5;
}

div#main-container {
    margin:auto;
    max-width: 1000px;
    background: white;
    padding: 10px;
}

input[type=text] {
    border: 1px solid grey;
}

input.invalid {
    border: 1px solid red;
}


/* auction view */

div#auction {
    padding: 5px;
    display: block;
    min-height: 80px;
    border: 1px solid orange;
    width: 200px;
}

table.auction {
    width: 200px;

}

table td, table th {
    width: 50px;
    text-align: center;
    border: 1px solid grey;
}


/* browsing the stored biddings in main page */

#browser {
    border: 1px solid grey;
    display: block;
    width: 250px;
    min-height: 100px;
}


#browser a.bidding{
    display: block;

}

#browser a.bidding:nth-child(odd){
    background: #eeeeee;
}